@font-face {
  font-family: "fantasyOG";
  src: local("fantasyOG"),url(../public/fonts/FantasyOG.otf) format('opentype');
}

@font-face {
  font-family: "rosalind";
  src: local("rosalind"),url(../public/fonts/Rosalind-TRIAL.otf) format('opentype');
}

@font-face {
  font-family: "tomasa";
  src: local("tomasa"),url(../public/fonts/Tomasa-TRIAL.otf) format('opentype');
}

table, th, td {
  border-collapse:collapse;
  border: 1px solid black;
  font-size: calc(22px + .08vw);
  text-align: center;
}

mark{
  background-color:#e6ccff;
  color:red;
}

body, a {
  margin: 0;
  font-weight: 100;
  text-decoration: none;
}

.navLink {
  font-family: 'fantasyOG';
  font-weight:lighter;
}

p{
  font-style:normal;
  font-family:Arial, Helvetica, sans-serif;
  font: weight 100px;
  font-size: calc(1vw + 2px);
  font-weight:lighter;
  margin:0px;
  padding:0px;
}

h1 {
  font-size: calc(4vw + 12px);
  font-family:fantasyOG;
  font-style:oblique;
  text-shadow:3px 3px 13px black;
  color:black;
  margin-top:25px;
  margin-bottom:25px;
}

h2 {
  font-size: calc(1vw + 3px);
}

.nav {
  float:left;
  width:33%;
  height:100vh;
  font-size: calc(5vw);
  padding-left: 25px;
  overflow-y:auto;
  padding-top: 50px;
  padding-bottom:50px;
}

.graydot {
  height: calc(1.2vw);
  width: calc(1.2vw);
  margin-left:20px;
  background-color:gainsboro;
  border-radius: 50%;
  display: inline-block;
}
.greendot {
  height: calc(1.2vw);
  width: calc(1.2vw);
  margin-left:20px;
  background-color:lime;
  border-radius: 50%;
  display: inline-block;
}

.main {
  float:left;
  width:50%;
  height:100vh;
  margin-left: 50px;
  padding-right:50px;
  overflow-y:auto;
  padding-top:50px;
}

img {
  width:100% ;
}

li {
  list-style-type: none;
}

a {
  font-family:tomasa;
}

a:visited {
  color:black;
}

a:hover {
  -webkit-transition: background-color 1.3s ease;
  -moz-transition: background-color 1.3s ease;
  -o-transition: background-color 1.3s ease;
  transition: background-color 1.3s ease;
  -webkit-transition: font-size 1.3s ease;
  -moz-transition: font-size 1.3s ease;
  -o-transition: font-size 1.3s ease;
  transition: background-color 1.3s ease;
  color:blue;
  text-decoration: oblique;
  cursor:cell;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
