@font-face {
  font-family: "cm";
  src: local("fantasyOG"),url(../src/fonts/cmunrm.woff) format('woff2');
}

.collapsible .content {
  padding-top: 10px;
  padding-left:15px;
  padding-bottom:15px;
}

.collapsible .header {
  cursor: pointer;
}

table, th, td {
  border-collapse:collapse;
  border: 1px solid black;
  font-size: calc(22px + .08vw);
  text-align: center;
}

mark{
  background-color:#e6ccff;
  color:red;
}
.nav {
  
  float:left;
  width:25%;
  height:100vh;
  font-size: calc(3vw);
  padding-left: 0px;
  overflow-y:auto;
  font-family:'cm';
  color:black;
  text-shadow: 1px 1px 4px grey;
  font-style:normal;
  text-transform: uppercase;  
}
body, a {
  margin: 0;
  text-decoration: none;
  color:black;
  
}
a {
  color:black;
  font-weight:1550;
}


a:visited {
  color:black;
}

.header {
  font-weight: 550; 
}

.navLink {
  font-weight:lighter;
}
.linky {
  font-style:oblique;
  text-decoration: underline;
}

p{
  font-style:normal;
  font-family:"cm";
  font: weight 100px;
  font-size: calc(1vw + 2px);
  font-weight:lighter;
  margin:0px;
  padding:0px;
  padding-bottom:10px;
  
}

h2 {
  font-size: calc(1vw + 3px);
}
nav {
  font-style:normal;
  
}


img {
  width:60%;  
}

.main {
  float:left;
  width:70%;
  height:100vh;
  margin-left: 50px;
  overflow-y:auto;
  padding-top:25px;
  padding-right:10px;
}

li {
  list-style-type: none;  
  
}

a:hover {
  -webkit-transition: background-color 1.3s ease;
  -moz-transition: background-color 1.3s ease;
  -o-transition: background-color 1.3s ease;
  transition: background-color 1.3s ease;
  -webkit-transition: font-size 1.3s ease;
  -moz-transition: font-size 1.3s ease;
  -o-transition: font-size 1.3s ease;
  transition: background-color 1.3s ease;
  color:blue;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 1.);
}



@media (max-width: 1000px) {  
  .nav {
    width:100%;
    height:auto;
    font-size: calc(4vw);
    padding-left: 0px;  
  } 
  
  .main {  
    width:90%;
    padding-left: 10px;
    margin-left: 0px;
    height:auto;
    top:auto;
    margin-top:0px;
    padding-top:0px;
  }

  p{
    font-size: calc(2vw + 2px);   
  }
}
