
.collapsible .content {
}
.collapsible .header {
  cursor: pointer;
}

table, th, td {
  border-collapse:collapse;
  border: 1px solid black;
  font-size: calc(22px + .08vw);
  text-align: center;
}

mark{
  background-color:#e6ccff;
  color:red;
}

body, a {
  margin: 0;
  
  text-decoration: none;
  color:black;
  /*background-color:cornsilk;*/
  background-color: whitesmoke;
}

.header {
  font-weight: 550;
  
}
.navLink {
  font-weight:lighter;
}

p{
  font-style:normal;
  font-family:Arial, Helvetica, sans-serif;
  font: weight 100px;
  font-size: calc(1vw + 2px);
  font-weight:lighter;
  margin:0px;
  padding:0px;
  padding-bottom:10px;
}

h1 {
  font-size: calc(4vw + 12px);
  font-family:fantasyOG;
  text-shadow:3px 3px 13px black;
  color:black;
  margin-top:25px;
  margin-bottom:25px;
}

h2 {
  font-size: calc(1vw + 3px);
}

.nav {
  float:left;
  width:33%;
  height:100vh;
  font-size: calc(6vw);
  padding-left: 0px;
  overflow-y:auto;
  font-family:'Times New Roman', Times, serif;
  color: black !important;
  text-decoration: none;
}

img {
  width:80%;
}
.content {
  
}
.main {
  float:left;
  width:60%;
  height:100vh;
  margin-left: 50px;
  overflow-y:auto;
  padding-top:25px;
}

li {
  list-style-type: none;  
}

a {
  color:black;
  font-weight:550;

}

a:visited {
  color:black;
}



a:hover {
  -webkit-transition: background-color 1.3s ease;
  -moz-transition: background-color 1.3s ease;
  -o-transition: background-color 1.3s ease;
  transition: background-color 1.3s ease;
  -webkit-transition: font-size 1.3s ease;
  -moz-transition: font-size 1.3s ease;
  -o-transition: font-size 1.3s ease;
  transition: background-color 1.3s ease;
  color:blue;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

link {
  color:blue; 
}

.nav:li {
  text-decoration: none;;
}

@media (max-width: 1000px) {  
  .nav {
    width:100%;
    height:auto;
    font-size: calc(7vw);
    padding-left: 25px;
  } 
  
  
  .main {  
    width:90%;
    padding-left: 50px;
    margin-left: 0px;
    height:auto;
    top:auto;
    margin-top:0px;
    padding-top:0px;
  }
  p{
    font-size: calc(3vw + 2px);   
  }
}
